<md-toolbar>
  <h1> Black Jack </h1>&nbsp;
  <button md-raised-button (click)="newGame()">New Game</button>
  <button md-raised-button (click)="shuffle()">Shuffle</button>
  <button md-raised-button (click)="startGame()">Start Game</button>
  <button md-raised-button (click)="addPlayer(true)">Add Human</button>
  <button md-raised-button (click)="addPlayer(false)">Add Computer</button>
</md-toolbar>
<div>
  <deck></deck>
  <player 
    *ngFor="let player of players"
    [player]="player"
    (onHit)="onHit($event)"
    (onStand)="onStand($event)"></player>
</div>
